USE [master]
GO

-- Tạo cơ sở dữ liệu trước khi chạy chương trình
-- Kết nối chương trình với cơ sở dữ liệu vừa tạo trong phần sever explorer/ data connection
-- Xóa các bảng hiện có trong file DataClasses1.dbml và kéo tất cả các bảng trong cơ sở dữ liệu mới vào file DataClasses1.dbml
/****** Object:  Database [Quan_ly_thu_vien]    Script Date: 5/14/2018 5:04:27 PM ******/
CREATE DATABASE [Quan_ly_thu_vien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Quan_ly_thu_vien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Quan_ly_thu_vien.mdf' , SIZE = 16384KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Quan_ly_thu_vien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Quan_ly_thu_vien_log.ldf' , SIZE = 4096KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Quan_ly_thu_vien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Quan_ly_thu_vien]
GO
/****** Object:  Table [dbo].[CTPM]    Script Date: 5/14/2018 5:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTPM](
	[MAPHIEUMUON] [char](4) NOT NULL,
	[MASACH] [char](4) NOT NULL,
 CONSTRAINT [PK_CTPM] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUMUON] ASC,
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DOCGIA]    Script Date: 5/14/2018 5:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DOCGIA](
	[MADOCGIA] [char](4) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[GIOITINH] [int] NOT NULL,
	[DIACHI] [nvarchar](70) NOT NULL,
 CONSTRAINT [PK_DOCGIA] PRIMARY KEY CLUSTERED 
(
	[MADOCGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUMUON]    Script Date: 5/14/2018 5:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUMUON](
	[MAPHIEUMUON] [char](4) NOT NULL,
	[MADOCGIA] [char](4) NOT NULL,
	[NGAYMUON] [datetime] NOT NULL,
	[NGAYHENTRA] [datetime] NOT NULL,
 CONSTRAINT [PK_PHIEUMUON] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUMUON] ASC,
	[MADOCGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUTRA]    Script Date: 5/14/2018 5:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUTRA](
	[MAPHIEUMUON] [char](4) NOT NULL,
	[NGAYTRA] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_PHIEUTRA] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUMUON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 5/14/2018 5:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SACH](
	[MASACH] [char](4) NOT NULL,
	[TENSACH] [nvarchar](50) NOT NULL,
	[LOAI] [char](15) NOT NULL,
	[TENTACGIA] [nvarchar](50) NOT NULL,
	[SOLUONG] [int] NOT NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CTPM] ([MAPHIEUMUON], [MASACH]) VALUES (N'PM01', N'GK01')
INSERT [dbo].[CTPM] ([MAPHIEUMUON], [MASACH]) VALUES (N'PM01', N'TH01')
INSERT [dbo].[CTPM] ([MAPHIEUMUON], [MASACH]) VALUES (N'PM02', N'CT02')
INSERT [dbo].[DOCGIA] ([MADOCGIA], [HOTEN], [GIOITINH], [DIACHI]) VALUES (N'213 ', N'213', 0, N'123')
INSERT [dbo].[DOCGIA] ([MADOCGIA], [HOTEN], [GIOITINH], [DIACHI]) VALUES (N'DG01', N'Bùi Kim Quyên', 1, N'380/3 NAM KỲ KHỞI NGHĨA, P.8, Q.3, TP. HCM')
INSERT [dbo].[DOCGIA] ([MADOCGIA], [HOTEN], [GIOITINH], [DIACHI]) VALUES (N'DG02', N'Võ An Phước', 0, N'474 NGUYỄN THỊ MINH KHAI, P.2, Q.3, TP. HCM')
INSERT [dbo].[PHIEUMUON] ([MAPHIEUMUON], [MADOCGIA], [NGAYMUON], [NGAYHENTRA]) VALUES (N'PM01', N'DG02', CAST(N'2018-05-03 00:00:00.000' AS DateTime), CAST(N'2018-05-30 00:00:00.000' AS DateTime))
INSERT [dbo].[PHIEUMUON] ([MAPHIEUMUON], [MADOCGIA], [NGAYMUON], [NGAYHENTRA]) VALUES (N'PM02', N'DG06', CAST(N'2018-05-03 00:00:00.000' AS DateTime), CAST(N'2018-05-10 00:00:00.000' AS DateTime))
INSERT [dbo].[PHIEUMUON] ([MAPHIEUMUON], [MADOCGIA], [NGAYMUON], [NGAYHENTRA]) VALUES (N'PM03', N'DG03', CAST(N'2018-05-03 00:00:00.000' AS DateTime), CAST(N'2018-05-15 00:00:00.000' AS DateTime))
INSERT [dbo].[PHIEUTRA] ([MAPHIEUMUON], [NGAYTRA]) VALUES (N'PM01', CAST(N'2018-05-10 00:00:00' AS SmallDateTime))
INSERT [dbo].[PHIEUTRA] ([MAPHIEUMUON], [NGAYTRA]) VALUES (N'PM02', CAST(N'2018-05-11 00:00:00' AS SmallDateTime))
INSERT [dbo].[PHIEUTRA] ([MAPHIEUMUON], [NGAYTRA]) VALUES (N'PM03', CAST(N'2018-05-10 00:00:00' AS SmallDateTime))
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [LOAI], [TENTACGIA], [SOLUONG]) VALUES (N'BT01', N'Bài tập Hóa 10', N'SBT            ', N'Nguyễn Thế Huy', 5)
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [LOAI], [TENTACGIA], [SOLUONG]) VALUES (N'BT02', N'Bài tập Lý 11', N'SBT            ', N'Nguyễn Mạnh Hùng', 2)
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [LOAI], [TENTACGIA], [SOLUONG]) VALUES (N'BT03', N'Bài tập Anh 12', N'SBT            ', N'Nguyễn Trương Bảo', 6)
ALTER TABLE [dbo].[PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUON_DOCGIA] FOREIGN KEY([MADOCGIA])
REFERENCES [dbo].[DOCGIA] ([MADOCGIA])
GO
ALTER TABLE [dbo].[PHIEUMUON] CHECK CONSTRAINT [FK_PHIEUMUON_DOCGIA]
GO
USE [master]
GO
